---
title: Tags
layout: page
permalink: /en/tags/
breadcrumb: 
  - label: Home
    url: /
ref: tags
lang: en
---

{% assign posts=site.posts | where:"lang", page.lang %}
{% for item in posts %}
  {% for tag in item.tags %}
   <div id="{{ tag | slugize }}"></div>
    <h2 class="tag-head">{{ tag }}</h2>
    {% for post in site.tags[tag] %}
      <article class="archive-item">
        <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      </article>
    {% endfor %}
  {% endfor %}
{% endfor %}

