<header>
	<h2 class="h2 article-title">Resume</h2>
</header>

<section class="timeline">

	<div class="title-wrapper">
	<div class="icon-box">
		<ion-icon name="book-outline"></ion-icon>
	</div>

	<h3 class="h3">Education & Training</h3>
	</div>

	<ol class="timeline-list">
    {% for item in site.data.education %}
	<li class="timeline-item">

		<h4 class="h4 timeline-item-title">{{item.college}}</h4>

		<span>2007 — 2008</span>

		<p class="timeline-text">
		{{item.study}}
		</p>

	</li>
    {% endfor %}
	</ol>

</section>

<section class="timeline">

	<div class="title-wrapper">
	<div class="icon-box">
		<ion-icon name="book-outline"></ion-icon>
	</div>

	<h3 class="h3">Awards</h3>
	</div>

	<ol class="timeline-list">
    {% for item in site.data.award %}
	<li class="timeline-item">

		<h4 class="h4 timeline-item-title">{{item.name}}</h4>

		<span>2015 — Present</span>

		<p class="timeline-text">
		{{item.desc}}
		</p>

	</li>
    {% endfor %}
	</ol>

</section>