<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=AW-618975445"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "AW-618975445");
</script>

<!-- Event snippet for schedule-appointment-button-click conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  const sidebar_consultation_btn = document.querySelector(
    ".sidebar-schedule-btn"
  );
  sidebar_consultation_btn.addEventListener("click", gtag_report_conversion);
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof url != "undefined") {
        window.location = url;
      }
    };
    gtag("event", "conversion", {
      send_to: "AW-618975445/43K7CKnhgpIZENWhk6cC",
      event_callback: callback,
    });
    return false;
  }
</script>
