---
---

@import "_colors/light-typography";

// Width of the content area
$content-width: 1000px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html {
  color: var(--text-color-r) !important;
}

html,
body {
  // font-family: serif !important;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  color: var(--text-color-r) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-r);
  // font-family: serif !important;
  letter-spacing: 0px;
  line-height: 1.8;
  font-weight: 700;
}

#sidebar {
  .nav-link {
    color: var(--text-color-r);
    span {
      border-bottom: 1px solid transparent;
      transition: border-color 0.35s ease-in-out;
    }
    &:hover {
      color: var(--link-color) !important;
      span {
        border-bottom: 1px solid var(--link-color);
      }
    }
  }

  .nav-item.active .nav-link {
    color: var(--link-color) !important;
    span {
      border-bottom: 1px solid var(--link-color);
    }
  }
}

#site-title a {
  color: var(--text-color-r);
  &:hover {
    color: var(--text-color-r);
  }
}

#site-subtitle {
  color: var(--dark-color);
}

.text-primary {
  color: var(--link-color) !important;
}

#sidebar .sidebar-bottom #mode-toggle-wrapper i {
  color: inherit !important;
  cursor: pointer;
}

#sidebar a {
  color: inherit;
}

#job-profile {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
}

#topbar-lang {
  position: fixed;
  right: 0;
  top: 50%;
}

.lang-switcher {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  li {
    // display: inline-block;
    // margin-left: 5px;
    // margin-right: 10px;
    @include media-query($on-palm) {
      margin: 0;
    }
    img {
      margin-bottom: 0px;
    }
  }
}

#search-result-wrapper {
  width: calc(100% - 300px);

  @include media-query($on-palm) {
    width: 100%;
  }
}

.about-accordian {
  .panel {
    margin-bottom: 10px;
    a {
      color: var(--text-color-r);
      text-transform: uppercase;
      &:hover {
        color: var(--text-color-r);
      }
    }
  }

  .panel-body {
    padding: 1.5em;
    margin-top: 5px;
    background: white;
    border: 1px solid #e6e6e6 !important;
  }

  .accordion-toggle {
    display: block;
    padding: 15px 20px;
    display: block;
    font-size: 1em;
    letter-spacing: 1px;
    background-color: #f2f3f7;
    border: 1px solid #e6e6e6 !important;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      color: white !important;
    }

    &:after {
      content: url("/assets/img/minus.svg");
      float: right;
    }
  }

  .accordion-toggle.collapsed {
    &:hover {
      color: #333 !important;
    }
    &:after {
      content: url("/assets/img/plus.svg");
      float: right;
    }
  }
}

.timeline {
  h2 {
    margin: 0 !important;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: unset;
    text-transform: unset;
    color: #000 !important;

    a {
      color: var(--text-color-r);
      pointer-events: none;
      cursor: unset;
    }
  }

  p {
    margin: 10px 0 !important;
    padding: 0;
    color: var(--text-color-r);
  }

  .timeline-centered::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    margin-left: 29px;
  }

  .timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: var(--blockquote-border-color);
    padding: 1.2em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }

  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-label::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent var(--blockquote-border-color) transparent
      transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
  }

  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-icon.color-2 {
    background: #ec5453;
  }

  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-icon.color-3 {
    background: #f9bf3f;
  }

  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-icon.color-4 {
    background: #a84cb8;
  }
  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-icon.color-5 {
    background: #2fa499;
  }

  .timeline-centered
    .timeline-entry
    .timeline-entry-inner
    .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.contact-form {
  .colorlib-feature {
    text-align: left;
    width: 100%;
    float: left;
    margin-bottom: 40px;
    position: relative;
  }

  .colorlib-feature .colorlib-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: table;
    text-align: center;
    background: var(--sidebar-bg);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
  }
  .colorlib-feature.colorlib-feature-sm .colorlib-icon i {
    color: #2c98f0;
    font-size: 35px;
  }
  .colorlib-feature .colorlib-icon i {
    display: table-cell;
    vertical-align: middle;
    color: #2c98f0;
    font-size: 60px;
    height: 100px;
  }
  .colorlib-feature.colorlib-feature-sm .colorlib-text {
    margin-top: 30px;
  }

  .colorlib-feature .colorlib-text {
    padding-left: 120px;
    width: 100%;
  }

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: transparent;
    background: var(--body-bg);
    border: 1px solid #eee;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
}

.rtl {
  direction: rtl;
}

#post-wrapper {
  h1 {
    margin-top: 0;
  }
}

//Education accordion

.myaccordion {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

  .card {
    margin-bottom: 5px;
    border-radius: 0;
    background: transparent;
  }

  .card-header {
    border-radius: 0;
    background: var(--body-bg);
    border: 1px solid #e6e6e6;
  }

  .card-body {
    border-radius: 0;
    background: transparent;
    border: 1px solid #e6e6e6;
  }

  .btn-link i:before {
    content: "\f068";
  }

  .btn-link.collapsed i:before {
    content: "\f067";
  }
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  // border: none;
}

.myaccordion .fa-stack {
  font-size: 18px;
}


.myaccordion .btn {
  width: 100%;
  color: var(--text-color-r);
  padding: 0;
  font-weight: normal;
  text-transform: uppercase;
  @include media-query($on-palm) {
    text-transform: initial;
  }
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

.accordion-toggle {
  white-space: break-spaces;
}

object {
  width: 100%;
  height: 800px;
}

::selection {
  color: #fff;
  background: #2c98f0;
}

:before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-content:lang(he) {
  font-family: "Heebo", sans-serif !important;
}

.fix-to-right {
  position: absolute;
  right: 5%;
}

.link-color {
  background-color: var(--link-color) !important;

  .btn {
    color: white !important;
  }
}

.call-btn {
  margin-left: auto;
  margin-right: 1em;
}
